<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h1>Star Wars Quotes</h1>
  <!-- <h2>Build a CRUD app</h2> -->
  <h3>by: Chris</h3>

  <h2>Add a quote</h2>
  <form action="/quotes" method="POST">
    <input type="text" placeholder="name" name="name" />
    <input type="text" placeholder="quote" name="quote" />
    <button type="submit">Submit</button>
  </form>

  <h2>Quotes</h2>
  
  <ul class="quotes">
    
    <% for (let i = 0; i < quotes.length; i++) { %>
    <li class="quote">


      <span><%= quotes[i].name.toUpperCase() %></span>:
      <span><%= quotes[i].quote %></span>
    
    </li>
    <% } %>
  </ul>
  
</body>
</html>